/* Step 1: Define color variables using hex values or rgb values */
:root { 
    /* 1a -  a primary color */
    --primary-color: #c6d8af;
    /* 1b -  a secondary color */
    --secondary-color: #1a535c;
    /* 1c -  a text color */
    --text-color: #3501D2;
    /* 1d - the background color for the card */
    --background-color: #ffe66d;
} 

/* Step 2: Style the card */
body {
    /* set background-color to the theme primary color */ 
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.profile-card {
    /* 2a - add a background color using var( )  */
    background-color: var(--background-color);
    /* 2b - add a background image */
    background: url(profile.webp) no-repeat center/contain fixed; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    /* 2c - define the text color using  var( )*/
    color: var(--text-color);
    /* 2d - add a box shadow using rgba */ 
    box-shadow: 0 8px 32px rgba(78, 205, 178, 0.75);
}
  
  /* Step 3: Add styles for the image and text */
.avatar {
    border-radius: 50%;
    /*3a - set the border to 3px solid & secondary color */
    border: 3px solid var(--secondary-color);
    width: 100px;
    height: 100px;
}

.bio {
    /* 3b -  set colour to secondary color */
    color: var(--secondary-color);
}