* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family should be'Montserrat', sans-serif */ 
    font-family: 'Montserrat', sans-serif;
}
h2 {
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: #724e91;
    text-decoration: underline;
    font-weight: lighter;
}
.logo {
    font-weight: 800;
    font-size: 1.5rem;
    color: #222;
}

nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    background: url(assets/campaign-creators-iEiUITs149M-unsplash.jpg) no-repeat center/cover fixed;
    padding: 2rem;
    color: white;
}

header h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px black;
}

header p {
    display: none;
}

section {
    max-width: 1200px;
    margin: auto;
}
#about {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
    max-width: 70%;
    font-size: 0.9rem;
}
section[id='about'] h2 {
    padding: 2rem;
    font-size: 2rem;
}

.services-grid,
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
}
.service {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    background-color: rgb(238, 238, 237);
    border-radius: 10px;
    margin: 1.5rem;
}
.project {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 1.5rem;
}

.service h3, .project h3 {
    padding-bottom: 1.1rem;
}
.service p, .project p {
    font-size: 0.9rem;
}

.project img {
    padding-bottom: 1.1rem;
    border-radius: 10px;
}

.contact form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact input,
.contact textarea {
    font-size: 1rem;
}

.contact button {
    font-size: 1.5rem;
    width: fit-content;
    align-self: center;
    padding: 0.5rem;
}
.contact button:hover {
    background-color: #724e91;
    color: #fff;
}

footer {
    padding: 1rem;
    font-size: 0.75rem;
    text-align: right;
}